<div class="container">
  <div class="col s12 card-panel">
    <h4 class="grey-text">会社概要</h4>
    <table class="bordered">
      <thead><tr>
        <th>会社名</th>
        <th>株式会社 Blue Star</th>
      </tr></thead>
      <tbody><tr>
        <td>業務内容</td>
        <td>
          ITコンサルティング<br/>
          システムインテグレーション
        </td>
      </tr><tr>
        <td>代表者</td>
        <td>黒木 聡</td>
      </tr><tr>
        <td>所在地</td>
        <td>〒141-0021 東京都品川区上大崎2-15-19</td>
      </tr><tr>
        <td>主要取引先</td>
        <td>
          楽天株式会社<br/>
          EMCジャパン株式会社<br/>
          TISビジネスコンサルタンツ株式会社<br/>
          デロイト トーマツ コンサルティング合同会社<br/>
          株式会社リクルートホールディングス<br/>
          株式会社リクルートマーケティングパートナーズ<br/>
          株式会社リクルートテクノロジーズ<br/>
          株式会社ベイカレントコンサルティング<br/>
          他（敬称略・順不同）
          </td>
      </tr></tbldy>
    </table>
  </div>
</div>
