<div class="container">
  <div class="col s12 card-panel">
    <h4 class="grey-text">Privacy Policy 個人情報保護方針</h4>
    <p>１．個人情報保護宣言<br/>
    株式会社Blue Star（以下「弊社」といいます。）は、皆様へ安心・安全・信頼のサービスを提供するに当り、皆様の全ての個人に関する情報(以下「個人情報」といいます。)の取り扱いについて規定を定め、個人情報の適切な保護に努めてまいります。</p>
    <p>２．個人情報保護方針<br/>
    （１）弊社は、個人情報保護法及び通信の秘密に係る電気通信事業法の規定その他の関係法令を遵守します。<br/>
    （２）弊社は、電気通信事業における個人情報保護に関するガイドライン（平成16年8月31日総務省告示第695号）を遵守します。<br/>
    （３）弊社では取り扱うすべての個人情報に対し、適切な管理を行います。<br/>
    （４）弊社で業務に従事するすべての者は、会員皆様をはじめとする各種個人情報を守り、その信頼に応えます。<br/>
    （５）弊社は、情報への不正アクセス、情報の紛失、破壊、改ざん及び漏えいなどを防ぐため、必要かつ適切な安全管理措置を講じるとともにその改善に努めます。</p>
    <p>３．個人情報の取扱について<br/>
    （１）利用目的の特定<br/>
    弊社では、取得した皆様の氏名、住所、電話番号等の個人情報を下記の目的で利用します。
    弊社のサービスの提供、本人確認、料金の請求、お問合せ対応、弊社のサービス等の変更・休廃止の通知、弊社が提供する他サービスのお知らせ・各種イベント・キャンペーンの案内に利用いたします。<br/>
    （２）個人情報の開示<br/>
    弊社は、皆様から自己に関する個人情報の開示の請求があった場合は、本人確認を行ったうえで、これに応じます。<br/>
    また、個人情報の内容の訂正等の申出があった場合も、速やかに対応いたします。<br/>
    （３）個人情報の利用・提供<br/>
    サービスを提供するために必要な範囲でお客さまの個人情報を取得し、取得目的の範囲内で利用・提供を行います。<br/>
    （４）第三者提供<br/>
    弊社は、個人情報を取得目的の範囲内で利用するとともに、適切な方法で管理し、個人情報の提供先とその利用目的を通知し承諾を得ることを行わない限り、第三者に個人情報を開示、提供しないものとします。
    ただし、次の場合はこの限りではありません。弊社が行う個人情報の第三者提供は以下の通りです。<br/>
    ・刑事訴訟法第２１８条（令状による差押え・捜索・検証）その他同法の定めに基づく強制の処分が行なわれた場合。<br/>
    ・特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律第４条（発信者情報の開示請求等）に基づく開示請求の要件が充足された場合。<br/>
    ・生命、身体又は財産の保護のために必要があると弊社が判断した場合。</p>
    <p>４．個人情報のお問い合わせ
    弊社保有の個人情報の取り扱いに関するお問い合わせは、以下までお願いします。</p>
  </div>
</div>
