<div class="container">
  <div class="col s12 card-panel">
    <h4 class="grey-text">Security Policy 情報セキュリティ方針</h4>

    <p>株式会社Blue Star（以下「当社」）は、当社における情報資産をあらゆる脅威から守るとともに、社会からの信頼に応える為、次のとおり情報セキュリティ基本方針を策定し、遵守することを宣言します。</p>

  <p>・情報セキュリティに関する法令、国が定める指針、別途定める関係各規定・契約等の規範を遵守します。<br/>
  ・情報セキュリティに関する責任を明確にし、対策を実施するための組織体制を整備します。<br/>
  ・情報資産の適正な管理、運用を推進するため、情報セキュリティリスクを識別し、リスクアセスメントを実施するとともに、必要に応じて組織的、物理的、人的、技術的な対策を実施します。また、情報セキュリティに関する問題が発生した場合には迅速に対応し、その被害を最小限に留めます。<br/>
  ・全従業員へこの基本方針に基づいた情報セキュリティに関する定期的な教育、啓発を実施し、周知徹底を行います。<br/>
  ・個人情報については、当社の「個人情報保護方針（プライバシーポリシー）」に基づいて管理します。<br/>
  ・上記項目を含む情報セキュリティマネジメントシステムについて定期的な見直しを実施し、継続的な改善を行います。</p>
  </div>
</div>
