<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h3>エントリーを受け付けました。</h3>
    <p>
      経歴書を拝見させていただき、後日メールを送信させていただきます。<br/>
      今後ともよろしくお願いします。<br/><br/>
      TryJOB.com
    </p>
    <hr/>
    <p>
      ■このメールは、TryJOBへエントリーされた方へ配信しております。<br/>
      ■このメールに身に覚えのない方は、メールを削除してください。<br/>
      ■このメールアドレスは配信専用です。
    </p>
  </body>
</html>
