<div class="container">
  <div class="col s12 card-panel">
    <h4>ご応募ありがとうございます</h4>
    <br/>
    <br/>
    <p>入力されたメールアドレス宛に、確認のメールを送信しました。</p>
    <p>メールが届かない場合はメールアドレスの入力が正しくなかった可能性がありますので、再度お問い合わせください。</p>
  </div>
</div>
